.footer {
  height: 610px;
  background-color: #23272a;
  margin-top: 200px;
}

.footerGrid {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr 2fr;
  height: 500px;
  padding: 80px 50px;
}
/* InfoBor */
.infoBoxtext {
  font-size: 40px;
  font-weight: 900;
  color: #5865f2;
  margin-bottom: 15px;
}
.infoBoxSmallText {
  color: white;
  font-size: 0.8rem;
  padding-bottom: 30px;
}
.footerDownloadIcon {
  rotate: 90deg;
  height: 10px;
}
.USAflagImage {
  height: 15px;
  padding-right: 10px;
}
/* Social Icons */
.infoboxicons {
  display: flex;
  align-items: flex-end;
}
.twitterLogo {
  height: 30px;
  padding-right: 20px;
}
.instagramLogo {
  height: 25px;
  padding-right: 20px;
}
.facebookLogo {
  height: 25px;
  padding-right: 20px;
}
.youtubeLogo {
  height: 25px;
  padding-right: 20px;
}
/* Products */
.products {
  display: flex;
  flex-direction: column;
}

.products a {
  color: white;
  padding-bottom: 15px;
  font-weight: 400;
}

.products a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.productsHeading {
  color: #5865f2;
  padding-bottom: 15px;
  margin-top: 20px;
}
/* Company */

.company {
  display: flex;
  flex-direction: column;
}

.company a {
  color: white;
  padding-bottom: 15px;
  font-weight: 400;
}

.company a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.companyHeading {
  color: #5865f2;
  padding-bottom: 15px;
  margin-top: 20px;
}

/* @dev 🟡-working 🟢-done 🔴not working */

/* Resources */
.resources {
  display: flex;
  flex-direction: column;
}

.resources a {
  color: white;
  padding-bottom: 15px;
  font-weight: 400;
}

.resources a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.resourcesHeading {
  color: #5865f2;
  padding-bottom: 15px;
  margin-top: 20px;
}

/* Policies */
.policies {
  display: flex;
  flex-direction: column;
}

.policies a {
  color: white;
  padding-bottom: 15px;
  font-weight: 400;
}

.policies a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.policiesHeading {
  color: #5865f2;
  padding-bottom: 15px;
  margin-top: 20px;
}
/* Last section footer */
.footerLastStrip {
  display: flex;
  padding: 50px 70px;
  justify-content: space-between;
}
.hr {
  margin-top: -50px;
  border-color: #5865f2;
  width: 90%;
  height: 0.1mm;
}
.discordLogo {
  color: white;
  cursor: pointer;
}

.signUp {
  width: 100px;
  padding: 5px;
  color: white;
  background-color: #5865f2;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
}
